{% extends 'base.html' %}
{% block css %}
{% endblock %}
{% block content %}
    {% include 'blog/navbar.html' %}
<div class="row container">
<div class="col-md-6 offset-4">
    <form action="{% if not postupdateform %}{% url 'blog:add_post' %}{% else %}{% url 'blog:edit_post' postid %}{% endif %}" method="POST" enctype="multipart/form-data" novalidate>
        {% csrf_token %}
        {% if postupdateform %}
            {% for i in postupdateform %}
                <div class="mb-4">
                    <label for="{{i.auto_id}}" class="control-label text-muted">{{i.label}}</label>
                    {{i}}
                </div>
            {% endfor %}
        {% else %}
            {% for i in postform %}
                <div class="mb-4">
                    <label for="{{i.auto_id}}" class="control-label text-muted">{{i.label}}</label>
                    {{i}}
                </div>

            {% endfor %}
        {% endif %}
        <div class="mb-4">
            <input type="submit" class="btn btn-warning" value="{% if not postupdateform %}Add {% else %}Edit{% endif %}">
            <a class="btn btn-danger" href="{% url 'blog:profile' request.user.username %}">Cancel</a>
        </div>
    </form>
</div>
</div>
{% endblock %}