<section class="mt-4 content">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-1 posts">
                {% if posts %}
                    {% for post in posts reversed %}
                    <div class="card mb-5" style="width: 40rem;">
                        <a href="{% url 'blog:profile' post.user %}" class="nav-link alert text-dark mb-0">
                            {% if post.user.userprofile.profile_Image %}
                            <img src="/media/{{post.user.userprofile.profile_Image}}" id="profilepic" alt="dp" class="mr-3">
                            {% endif %}
                            {% if post.user.first_name %}
                                {{post.user.first_name}} {{post.user.last_name}}
                            {% else %}
                                {{post.user}}
                            {% endif %}
                        </a>
                        <small class="text-info ml-3">{{post.creation_date}}</small>
                        <a href="{% url 'blog:postdetail' post.id %}" class="nav-link text-secondary">
                            {% if post.image %}

                            <img src="/media/{{post.image}}" class="card-img-top h-25" alt="...">

                            {% endif %}
                          <div class="card-body">
                            <h5 class="card-title">{{post.title}}</h5>
                            <!--<p class="card-text">{% comment %}{{post.description|linebreaksbr}}{% endcomment %}</p>-->

                          </div>
                        </a>
                    </div>

                    {% endfor %}
                {% else %}
                    <p class="h3">Sorry no posts available</p>
                {% endif %}
            </div>
            <div class="col-md-2 offset-3 recent">
                <div class="row bg-light pb-4">
                    <div class="col">
                        <p class="text-uppercase text-secondary">Follow Me</p>
                        <a href="https://www.facebook.com/subhransu.das.564/" target="-_blank" class="text-muted link-muted offset-1">
                            <i class="fab fa-facebook text-secondary"></i>
                        </a>
                        <a href="https://www.instagram.com/subhransu1299/" target="_blank" class="text-muted link-muted offset-1">
                            <i class="fab fa-instagram text-secondary"></i>
                        </a>
                        <a href="https://www.linkedin.com/in/subhransu-das-908959147/" target="_blank" class="text-muted link-muted offset-1">
                            <i class="fa fa-linkedin text-secondary" aria-hidden="true"></i>
                        </a>
                        <a href="https://www.hackerrank.com/subhransud525" target="_blank" class="text-muted link-muted offset-1">
                            <i class="fab fa-hackerrank text-secondary"></i>
                        </a>
                    </div>
                </div>
                <div class="row bg-light">
                    <div class="col">
                        <p class="text-secondary text-uppercase">Category filter</p>
                        {% for post in allposts %}
                        <a href="{% url 'blog:category_posts' post %}" class="nav-link text-secondary offset-2">{{post}}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>