<!-- Modal -->
<div class="modal fade" id="EditProfileModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Profile</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
            <div class="col-md-6 d-flex justify-content-start">
                <p> Profile Picture</p>
            </div>
            <div class="col-md-6 d-flex justify-content-end ">
                <ul class="nav">
                    <li class="nav-item">
                        {% for i in chpic %}
                        {{i}}
                        {% endfor %}
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-center">
                <img src="/media/{{userprofile.profile_Image}}" width="200px" height="200px" class="rounded-circle" alt="pro img">
            </div>
        </div>

          <!-- Cover Photo  -->
          <div class="row">
            <div class="col-md-6">
                <p> Cover Picture</p>
            </div>
              <div class="col-md-6 d-flex justify-content-end ">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Edit</a>
                    </li>
                </ul>
            </div>

        </div>
        <div class="row">
            <div class="col d-flex justify-content-center">
                <img src="/media/{{userprofile.cover_Image}}" class="w-50" alt="cover img">
            </div>
        </div>

          <!--End of cover image-->
      </div>
    </div>
  </div>
</div>