<!-- Modal -->
<div class="modal fade" id="EditProfileModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Profile</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
            <div class="col-md-4">
                <p> Profile Picture</p>
            </div>
            <div class="mr-auto"></div>
            <div class="col-md-3">
                <ul class="nav">
                    <form action="{% url 'blog:changepropic' %}" class="dropzone" id="my-dropzone-profile">
                        {% csrf_token %}
                      <div class="fallback">
                        <input name="file" type="file" multiple class="edit_button"/>
                      </div>
                    </form>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-center">
                {% if userprofile.profile_Image %}
                <img src="/media/{{userprofile.profile_Image}}" width="200px" height="200px" class="rounded-circle" alt="pro img">
                {% else %}
                <img src="/static/images/default_profile/default-profile.jpg'" width="200px" height="200px" class="rounded-circle" alt="pro img">
                {% endif %}
            </div>
        </div>

          <!-- Cover Photo  -->
          <div class="row">
            <div class="col-md-3">
                <p> Cover Picture</p>
            </div>
              <div class="mr-auto"></div>
              <div class="col-md-3">
                <ul class="nav">
                    <form action="{% url 'blog:changecoverpic' %}" class="dropzone" id="my-dropzone-cover">
                        {% csrf_token %}
                      <div class="fallback">
                        <input name="file" type="file" multiple class="edit_button"/>
                      </div>
                    </form>
                </ul>
            </div>

        </div>
        <div class="row">
            <div class="col d-flex justify-content-center">
                {% if userprofile.cover_Image %}
                <img src="/media/{{userprofile.cover_Image}}" class="w-50" alt="cover img">
                {% else %}
                    <p class="h5 border m-2 p-2">No cover image</p>
                {% endif %}
            </div>
        </div>

          <!--End of cover image-->
      </div>
    </div>
  </div>
</div>