{% extends 'base.html' %}
{% load static %}
{% block title %}
BLog
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/mystyle.css' %}">
    <style>
        #profilepic{
        max-width:35px;
        border-radius:50px;
        max-height:30px;
        }
    </style>
{% endblock %}
{% block content %}
    <header>
        {% include 'blog/navbar.html' %}
    </header>
    <main>
        {% include 'blog/content.html' %}
        <section class="footer">

        </section>
    </main>
{% endblock %}