{% extends 'base.html' %}
{% block css %}
    <style>
        main .container .loginform{
            position:absolute;
            left:40%;
        }
    </style>
{% endblock %}
{% block content %}
    <header>
        {% include 'blog/navbar.html' %}
    </header>
    <main>
        <section class="container">
            {% if messages %}
                {% for msg in messages %}
                    <p class=" alert alert-{{msg.tags}} my-2">{{msg}}</p><br>
                {% endfor %}
            {% endif %}
            <p class="h1 text-uppercase text-primary d-flex justify-content-center">Login</p>
            <form action="{% url 'blog:login' %}" class="w-25 loginform" method="POST" novalidate>
                {% csrf_token %}

                {% for i in loginform %}
                    {{i.non_field_errors}}
                    <label for="{{i.auto_id}}" class="form-label">{{i.label}}</label>
                    {{i}}

                {% endfor %}
                <input type="submit" class="btn btn-primary mt-4" value="LOGIN">
            </form>

        </section>
    </main>
{% endblock %}