{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/mystyle.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
{% endblock %}
{% block content %}
    {% include 'blog/navbar.html' %}
    <div class="container ">
        <div class="row">
            <div class="card m-auto" style="width:45rem;">
                {% if post.image %}
                <img src="/media/{{post.image}}" class="card-img-top img-fluid" alt="Post image">
                {% endif %}
                <div class="card-body my-2">
                    <h2 class="card-title">{{post.title}}</h2>
                    <p class="card-text lead">{{post.description|safe}}</p>
                    <figure>
                      <figcaption class="blockquote-footer text-right">
                        Someone famous in <cite title="Source Title">Source Title</cite>
                      </figcaption>
                    </figure>
                </div>
                <div class="card-footer text-muted">
                    Updated on {{post.creation_date}} By {{post.user}}
                </div>
            </div>
        </div>
    </div>
    <div class="container bg-light">
        <form action="{% url 'blog:postdetail' post.id %}" method="POST">
            {% csrf_token %}
        {{commentform.as_p}}
            <input type="submit" class="btn btn-success" value="add comment">
        </form>
    </div>
{% endblock %}