{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}
{% block content %}
    <header>
        {% include 'blog/navbar.html' %}
    </header>
    <main>
        <section class="user_profile">

            <div class="container-fluid">
                <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="/media/{{request.user.userprofile.cover_Image}}" class="d-block w-50 cover_pic" alt="cover pic">
                        </div>
                    </div>
                </div>


                <!-- Profile pic placement section-->

                <div class="row">
                    <img src="/media/{{request.user.userprofile.profile_Image}}" alt="profile_pic" width="200px" height="200px" class=" profile_pic rounded-circle">
                </div>
                <div class="row">
                    <ul class="nav nav-tabs">
                      <li class="nav-item">
                        <a class="nav-link active" href="#">About</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Post</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Photos</a>
                      </li>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#EditProfileModal">
                          Edit profile
                        </button>

                    </ul>
                </div>
                <div class="row ">
                    <div class="col-md-4 left under_nav_section">
                        <div class="row">
                            <p class="h4">Intro</p>
                            <div class="col">
                                <p class="education">{{request.user.userprofile.bio}}</p>
                                <p class="location">location</p>
                                <a class="btn btn-secondary text-white"> Edit Details</a>
                                <a class="btn btn-secondary text-white"> Add hobies</a>
                                <div class="row photo_section">
                                    <div class="col-md-4">
                                        <img src="" alt="pics">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-4 under_nav_section">

                        <!-- Post  something form   -->
                        <form action="" method="POST">
                            <p>here are post form</p>
                        </form>

                        <!-- End post something form -->

                        <!-- Post view Section -->
                        {% for post in posts reversed %}
                        <div class="card mb-5" style="width: 30rem;">
                            <a href="#" class="nav-link alert text-dark mb-0">

                                <img src="/media/{{post.user.userprofile.profile_Image}}" width="30px" height="30px" id="profilepic" alt="dp" class="mr-3 rounded-circle">
                                {% if post.user.first_name %}
                                    {{post.user.first_name}} {{post.user.last_name}}
                                {% else %}
                                    {{post.user}}
                                {% endif %}
                            </a>
                            <small class="text-info">{{post.creation_date}}</small>
                            {% if post.image %}
                                <img src="/media/{{post.image}}" class="card-img-top h-25" alt="...">
                            {% endif %}
                          <div class="card-body">
                            <h5 class="card-title">{{post.title}}</h5>
                            <p class="card-text">{{post.description|linebreaksbr}}</p>

                          </div>
                        </div>
                        {% endfor %}

                        <!--    End of Post View    -->

                    </div>
                </div>
            </div>
            <a class="btn btn-warning" href="{% url 'blog:add_post' %}">Addpost</a>
        </section>
        {% include 'blog/edit_profile.html' %}
    </main>

{% endblock %}