#carouselExampleSlidesOnly .carousel-inner .active{
    background-image: linear-gradient(#000 -68%, #fff 68%);
    height:55vh;
}


#carouselExampleSlidesOnly .carousel-inner .active .cover_pic{
    transform:translateX(50%);
    opacity:0.8;
    border-radius:10px;
}

.user_profile .row .profile_pic
{
    position:absolute;
    left:40%;
    top:50%;
    border-radius:50% !important;
    border: 5px solid #fff;

}

.user_profile .row .nav-tabs
{
    margin-left:40%;
    margin-top:11%;
}

.user_profile .row .under_nav_section
{
    transform:translateY(100px) translateX(100px);
}

.user_profile .row .left
{
    transform:translateY(100px) translateX(70px);
}