#carouselExampleSlidesOnly .carousel-inner .active{
    background-image: linear-gradient(#000 -68%, #fff 68%);
    height:55vh;
}


#carouselExampleSlidesOnly .carousel-inner .active .cover_pic{
    transform:translateX(50%);
    opacity:0.8;
    border-radius:10px;
}

.user_profile .row .profile_pic
{
    position:absolute;
    left:40%;
    top:39%;
    border-radius:50% !important;
    border: 5px solid #fff;

}
.user_profile .row .profile_username{
    margin-left:45%;
    margin-top:5%;
}

.user_profile .row .nav-tabs
{
    margin-left:40%;
    margin-top:11%;
}

.user_profile .row .under_nav_section
{
    transform:translateY(100px) translateX(100px);
}

.user_profile .row .left
{
    transform:translateY(100px) translateX(70px);
}
.dropzone{
    display: block;
    padding: 0 2rem;
    color: #007bff;
    background-color: transparent;
    border:none !important;
    min-height:0;
}
.modal_body .row .col-md-6{
    margin-top:-20px;
}
.dropzone .dz-message{
    margin:0;
}
.dropzone .dz-preview{
display:none;
}